.secrets/
confs/vault/
scripts/
apps/testapplicatie/.env
apps/testapplicatie/node_modules/
apps/testapplicatie/package-lock.json
apps/testapplicatie/package.json
ansible/.vscode/
ansible/ansible.cfg
ansible/inventory/
ansible/roles/LDAP_setup/vars/
.gitignore