apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ tailscale_hostname }}
  namespace: {{ tailscale_namespace }}
spec:
  replicas: 1
  strategy:
    type: Recreate # Belangrijk: voorkom twee nodes met dezelfde naam
  selector:
    matchLabels:
      app: {{ tailscale_hostname }}
  template:
    metadata:
      labels:
        app: {{ tailscale_hostname }}
    spec:
      containers:
      - name: tailscale
        image: {{ tailscale_image }}
        env:
        - name: TS_AUTHKEY
          valueFrom:
            secretKeyRef:
              name: tailscale-auth
              key: TS_AUTHKEY
        - name: TS_EXTRA_ARGS
          value: "--hostname={{ tailscale_hostname }} --accept-dns=true --accept-routes=true --ephemeral"
        - name: TS_USERSPACE
          value: "false"
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi