<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Jouw Profiel</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Hoi, <%= user.given_name || user.sub %>! 👋</h1>
        <div class="card">
            <h3>Jouw OIDC Data:</h3>
            <pre><%= JSON.stringify(user, null, 2) %></pre>
        </div>
        <a href="/logout" class="btn secondary">Uitloggen</a>
    </div>
</body>
</html>