name: CI for Values

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ main ]

jobs:
  validate-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Helm Lint
        run: |
          helm repo add curity https://curityio.github.io/idsvr-helm/
          helm repo update
          helm template my-release curity/idsvr --values confs/dev/values.yaml > /dev/null


      - name: Validate Argo Manifests
        run: |
          python3 -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]" apps/*.yaml