name: CI for Values

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ main ]

jobs:
  validate-and-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4]
        with:
          fetch-depth: 0

      - name: Helm Lint
        run: |
          helm repo add curity https://curityio.github.io/idsvr-helm/
          helm repo update
          helm template my-release curity/idsvr --values confs/dev/values.yaml > /dev/null
          helm template my-release curity/idsvr --values confs/acc/values.yaml > /dev/null
          helm template my-release curity/idsvr --values confs/prod/values.yaml > /dev/null


      - name: Validate Argo Manifests
        run: |
          python3 -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]" apps/*.yaml
      
      - name: Merge develop to main
        if: success() && github.ref == 'refs/heads/develop' && github.event_name == 'push'
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git checkout main
          git merge origin/develop --no-ff -m "Merge develop into main [skip ci]"
          git push origin main
